[api]
  dashboard = true
  address = ":443"

[certificatesResolvers]
  [certificatesResolvers.cloudflare]
    [certificatesResolvers.cloudflare.acme]
      email = "admin@example.com" # REPLACE: with your email
      storage = "/letsencrypt/acme.json"
      [certificatesResolvers.cloudflare.acme.dnsChallenge]
        provider = "cloudflare"
        delayBeforeCheck = 0

[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"


[providers]
  [providers.docker]
    domain = "example.com" # REPLACE: with your root domain
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = true
    watch = true

[http.middlewares]
  [http.middlewares.https-redirect.redirectscheme]
    scheme = "https"

[serversTransport]
  insecureSkipVerify = true
