[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.web_secure]
    address = ":443"

[certificatesResolvers]
  [certificatesResolvers.cloudflare]
    [certificatesResolvers.cloudflare.acme]
      caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
      email = "admin@example.com" # REPLACE: with your email
      storage = "/letsencrypt/acme.json"
      [certificatesResolvers.cloudflare.acme.dnsChallenge]
        provider = "cloudflare"
        delayBeforeCheck = 0
        resolvers = ["1.1.1.1:53", "8.8.8.8:53"]

[providers]
  [providers.docker]
    domain = "example.com" # REPLACE: with your root domain
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = true
    watch = true

[http.middlewares]
  [http.middlewares.https-redirect.redirectscheme]
    scheme = "https"

[api]
  dashboard = true
  address = "web_secure"

[serversTransport]
  insecureSkipVerify = true
