################################################################################
# Global Configuration
################################################################################

[global]
  checkNewVersion = false
  sendAnonymousUsage = false

################################################################################
# Entrypoints Configuration
################################################################################

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.traefik]
    address = ":8080"

[http.routers]
  [http.routers.encrypted]
    rule = "Host(example.com)" # REPLACE W/ YOUR DOMAIN
    service = "websafe"
    [http.routers.encrypted.tls]
      certResolver = "letsencrypt"
    [http.routers.unencrypted]
      rule = "Host(example.com)" # REPLACE W/ YOUR DOMAIN
      service = "websafe"

[http.middlewares]
  [http.middlewares.redirect.redirectScheme]
    scheme = "https"

[certificatesResolvers.letsencrypt.acme]
  caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
  email = "admin@example.com" # REPLACE W/ YOUR EMAIL
  storage = "/etc/traefik/acme/acme.json"
  [certificatesResolvers.letsencrypt.acme.dnsChallenge]
    provider = "cloudflare"
    delayBeforeCheck = 0

[[acme.domains]]
  main = "*.example.com" # REPLACE W/ YOUR DOMAIN
  sans = "example.com" # REPLACE W/ YOUR DOMAIN

################################################################################
# Logs Configuration
################################################################################

[log]
  level = "DEBUG"
  filePath = "/etc/traefik/log/traefik.log"
  format = "common"

################################################################################
# Access Logs Configuration
################################################################################

[accessLog]
  filePath = "/etc/traefik/log/accessLog.txt"
  format = "common"

################################################################################
# API and Dashboard Configuration
################################################################################

[api]
  dashboard = true

################################################################################
# Ping Configuration
################################################################################

[ping]
  entryPoint = "traefik"

################################################################################
# Docker Configuration (backend)
################################################################################

[providers.docker]
  endpoint = "unix:///var/run/docker.sock"
  defaultRule = "Host(`{{ normalize .Name }}.docker.localhost`)"
  exposedByDefault = false

[providers.docker.tls]
  insecureSkipVerify = true
